.row
  .col-md-6
    %h1 Android előadások
    %ul
      %li= link_to 'Bevezetés', 'download/android01.pdf'
      %li= link_to 'Egy alkalmazás felépítése', 'download/android02.pdf'
      %li= link_to 'Layoutok', 'download/android03.pdf'
      %li= link_to 'Layoutok második rész', 'download/android04.pdf'
    %h1 Feladat leírások
    %ul
      %li= link_to 'TicTacToe', 'download/tictactoe.pdf'
      %li= link_to 'TicTacToe, folytatás', 'download/tictactoe2.pdf'
    %h1 Megoldások
    %ul
      %li= link_to 'HelloWorld', 'download/HelloWorld.zip'
      %li= link_to 'Layoutok', 'download/Layoutok.zip'
      %li= link_to 'Nezetek', 'download/Nezetek.zip'
      %li= link_to 'TicTacToe első rész', 'download/Tictactoe.zip'
  .col-md-6
    %h1 Adatbázis és szoftverfejlesztés
    %ul
      %li= link_to 'Bevezetés', 'download/bevezetes.pdf'
      %li= link_to 'Logikai típus', 'download/logikaitipus.pdf'
      %li= link_to 'Specifikáció', 'http://progalap.elte.hu/downloads/seged/eTananyag/lecke3_lap1.html'
      %li= link_to 'Algoritmus', 'download/algoritmus.pdf'
