%li.mission
  .row
    .col-md-8
      = link_to mission.name, mission_path(mission)
      %p= timeago_tag mission.created_at
      - if mission.doable?
        %p.deadline
          Határidő:
          = timeago_tag mission.deadline
    .col-md-4
      .pull-right
        - if student_signed_in? && mission.doable?
          - if mission.solution_for(current_student)
            = link_to edit_solution_path(mission.solution_for(current_student)), class: 'btn btn-info tooltipable', id: "solution_for_#{mission.id}" do
              %span.glyphicon.glyphicon-edit
          - else
            = link_to new_solution_path(mission: mission), class: 'btn btn-success tooltipable', id: "solution_for_#{mission.id}" do
              %span.glyphicon.glyphicon-open
          .htp{id: "solution_for_#{mission.id}-tooltip"}
            Megoldás feltöltése
            = mission.name
            feladatra
        - if mission.example_solution.try(:published)
          = link_to 'Megoldás', mission.example_solution.source.url, class: 'btn btn-warning'
