%h2= @mission.name
.section
  %ul
    - if @mission.objectives_stored?
      %li.mission
        .row
          .col-md-9
            = link_to 'Letölthető állomány', @mission.objectives.url
            %p= timeago_tag @mission.created_at
    - if student_signed_in? && @mission.doable?
      %li{ class: @solution.nil? ? 'mission' : 'lesson' }
        .row
          .col-md-9
            - if @solution
              %p.title Új megoldás feltöltése a feladatra
              %p
                Előző feltöltve ekkor:
                = timeago_tag @solution.updated_at
            - else
              %p.title Megoldás feltöltése a feladatra
          .col-md-3
            .pull-right
              - if @mission.doable?
                - if @solution
                  = link_to edit_solution_path(@solution), class: 'btn btn-info tooltipable', id: "solution_for_#{@mission.id}" do
                    %span.glyphicon.glyphicon-edit
                - else
                  = link_to new_solution_path(mission: @mission), class: 'btn btn-success tooltipable', id: "solution_for_#{@mission.id}" do
                    %span.glyphicon.glyphicon-open
                .htp{id: "solution_for_#{@mission.id}-tooltip"}
                  Megoldás feltöltése
                  = @mission.name
                  feladatra
%p= @mission.description.try(:html_safe)
