= semantic_form_for [:admin, @course] do |f|
  = f.inputs name: "#{controller.action_name.capitalize} Course" do
    = f.input :name
    = f.input :description
    = f.input :visibility, as: :select, collection: ['private', 'public']
  = f.actions do
    = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }
    = f.action :cancel, as: :link
