%h2
  Megoldás feltöltése
  = @mission.name
  feladatra
= semantic_form_for @solution do |f|
  = f.inputs do
    = f.input :mission_id, as: :hidden, input_html: { value: @mission.id }
    = f.input :source, as: :file, label: 'Forrás (zip/rar):'
  = f.actions do
    = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }, label: 'Megoldás feltöltése'
    = f.action :cancel, as: :link, label: 'Mégsem'
